<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.utils.ExtentReportListner" />
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.PostRequest"/>
      <class name="TestCases.GetRequest1"/>
      <class name="TestCases.PutRequest"/>
      <class name="TestCases.GetRequest"/>
      <class name="TestCases.DeleteRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
